[submodule "jetbrains"]
	path = ports/jetbrains
	url = ../jetbrains.git
[submodule "fish"]
	path = ports/fish
	url = ../fish.git
[submodule "oh-my-posh"]
	path = ports/oh-my-posh
	url = ../oh-my-posh.git
[submodule "starship"]
	path = ports/starship
	url = ../starship.git
[submodule "helix"]
	path = ports/helix
	url = ../helix.git
[submodule "kitty"]
	path = ports/kitty
	url = ../kitty.git
